.navbackground {
  background-color: black;
  min-height: 5em !important;
  max-height: 6em !important;
}

div#responsive-navbar-nav a {
  margin: 0 0.5em 0 0.5em;
}

.navbar-expand-lg a {
  border-radius: 5px;
  text-align: center;
  background-color: black;
}

.nav-link {
  color: #fff !important;
  font-weight: 500 !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.title {
  font-weight: 100 !important;
}

.navbar-brand {
  font-weight: 700 !important;
  padding-left: 1em;
}

.nav-link:hover {
  border-bottom: 2px solid blueviolet;
}

.nav-link.active {
  background-color: ghostwhite !important;
  color: black !important;
  border: 2px solid #A682FF !important;
}

.container-fluid {
  padding: 0px !important;
}

.navbar>.container-fluid {
  padding: 0.5em !important;
  justify-content: space-between !important;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 1em !important;
  padding-right: 1em !important;
  border-radius: 10px;
  color: rgb(255, 255, 255) !important;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
  display: flex;
  padding: 0px !important;
}

.navbar.scrolled {
  background-color: #333;
}

.brand {
  color: white !important;
  font-weight: 800 !important;
}

.highlight {
  color: blueviolet;
}

.dropdown {
  margin: 0 0.5em 0 0.5em !important;
  text-align: center !important;
}

.user-name-dropdown {
  margin: 0 !important;
}

#dropdown-basic {
  width: 100% !important;
  text-align: center !important;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    justify-content: right;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none !important;
  }
}

.signIn {
  border: 2px solid #A682FF !important;
  color: rgb(210, 210, 223) !important;
  background-color: black !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.signIn:hover {
  background-color: #fff !important;
  color: black !important;
}

@media (max-width: 400px) {
  .navbar-brand {
    padding-left: 0 !important;
  }

  .navbar>.container-fluid {
    padding: 0.5em 0.5em 0.5em 0 !important;
  }
}